[Unit]
Description=virtualtryon unet-automask fastAPI application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/techPack/src
ExecStart=/home/ubuntu/techPack/start.techPack.sh

[Install]
WantedBy=multi-user.target 